@model IEnumerable<ExemploGreen.Web.Models.Contato>

@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.H1 - @AppResource.AppName</h2>

<p>@ViewBag.Title</p>

<p>Minha idade: @ViewBag.Idade</p>

<p>Hello from viewbag</p>
<hr />
<p>@ViewBag.Select.Nome</p>

<p>
    @Html.ActionLink("Novo", "Criar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Idade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sobrenome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sobrenome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
                @*@Html.ActionLink("Detalhe", "Detalhe", new { id = item.Id })*@
                @*@Html.ActionLink()*@

                <a href='@Url.Action("detalhes", new { routeName = "ContatoRoute", id = item.Id, name = item.Nome })'>Link</a>
            </td>
        </tr>
    }

</table>