@model WebTodos.Models.GeoLocation

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label asp-for="@Model.Latitude"></label>
            <input type="range" asp-for="@Model.Latitude" min="-200" max="0" />
            @Html.DisplayFor(m => m.Latitude)
        </div>
        <div class="form-group">
            <label asp-for="@Model.Longitude"></label>
            <input type="range" asp-for="@Model.Longitude" min="-200" max="0" />
            @Html.DisplayFor(m => m.Longitude)
        </div>
    </div>
</div>